.img-responsive2 {
  /*display: inline-block;*/
  max-width: 170px;
  max-height: 170px;
}






/*

 */
.navbar {
  background-color: #1e1656;
  /*min-height:300px;*/
  /*max-height: 80px;*/
  box-shadow: 10px 10px 10px #bebebe;
  margin-bottom: 20px;
}

.navbar .navbar-nav .nav-link {
  color: #ffffff;
  padding: 10px;
}

