.img-responsive2 {
  /*display: inline-block;*/
  max-width: 150px;
  max-height: 150px;
}






/*

 */
@media only screen and (min-width: 768px) {
  .navbar {
    height: 75px !important;
  }
}


.navbar {
  background-color: #563f7b;
  /*min-height:300px;*/
  /*max-height: 80px;*/
  /*box-shadow: 5px 5px 5px 5px #bebebe;*/
  margin-bottom: 10px;
}

.navbar .navbar-nav .nav-link {
  color: #ffffff;
  padding: 10px;
}

