<app-navbar></app-navbar>
<!-- Page Content -->
<div class="container">
  <!-- Team Members Row -->
  <div class="row" *ngIf="user">
    <div class="col-lg-12">
      <h2 class="my-4">My Profile</h2>
    </div>
    <div class="col-md-4">
      <img class="rounded-circle img-fluid d-block mx-auto" src="http://ssl.gstatic.com/accounts/ui/avatar_2x.png" alt="">
      <h3 style="text-align: center">{{user.userfname}} {{user.userlname}}</h3>
    </div>
    <div class="col-md-8">
      <table class="table table-user-information">
        <tbody>
        <tr>
          <td>User ID:</td>
          <td>{{user.userid}}</td>
        </tr>
        <tr>
          <td>Email:</td>
          <td>{{user.useremial}}</td>
        </tr>
        <tr>
          <td>Phone Number</td>
          <td>{{user.userphone}}</td>
        </tr>
        <tr>
        <tr>
          <td>Gender</td>
          <td>{{user.usergender}}</td>
        </tr>
        <tr>
          <td>Date of Birth</td>
          <td>{{user.userbirth}}</td>
        </tr>
        </tbody>
      </table>
      <button [routerLink]="['/user', user.usernumber]" class="btn btn-sample" style="margin-top: 10px">Edit</button>
    </div>
  </div>
</div>
<app-footer></app-footer>

