<div *ngIf="user">
  <h2>User details</h2>
  <table class="table table-hover table-striped">
    <thead>
    <tr style="background-color:#212529;   color: #fff;">
      <th scope="col">Phone</th>
      <th scope="col">Gender</th>
      <th scope="col">Date Of Birth</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>{{user.userphone}}</td>
      <td>{{user.usergender}}</td>
      <td>{{user.userbirth}}</td>
    </tr>
    </tbody>
  </table>
  <button (click)="EnableUser(user)" [disabled]="isEnable(user)" class="btn btn-sample">Enable</button>
</div>
